.main .center {
  text-align: center;
  margin-top: 55px;
}
.main .center h2 {
  font-size: 18px;
  font-weight: 400;
}
.main .center p {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0 50px 0;
}
.main .text {
  position: relative;
}
.main .text .gry {
  height: 40px;
  width: 333px;
  background-color: #fafafa;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
}
.main .text .sc {
  position: absolute;
  left: 148px;
  top: 9px;
}
.main .last {
  margin-top: 50px;
}
.main .last .left {
  height: 180px;
  width: 720px;
  border: 1px solid #d6d6d6;
  padding: 25px;
  box-sizing: border-box;
}
.main .last .right {
  width: 250px;
  height: 90px;
  border: 1px solid #d6d6d6;
  padding: 14px 24px;
  box-sizing: border-box;
}
.main .last .left .big {
  font-size: 16px;
  font-weight: 700;
  padding-left: 230px;
}
.main .last .left .small {
  font-size: 10px;
  font-weight: 500px;
  padding-left: 230px;
}
.main .last .left .smalls {
  font-size: 10px;
  font-weight: 500px;
  padding-left: 230px;
  margin-top: 15px;
}
.main .last .left .smalls span {
  padding-left: 30px;
}
.main .last .left .smalls span i {
  content: '';
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url(../imgs/eye.png) no-repeat;
}
.main .cho a {
  display: inline-block;
  width: 35px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #d8d8d8;
  color: #ffffff;
  margin: 25px 0 55px 0;
}
.main .cho .active {
  background-color: #b50900;
}
.main .cho a:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.main .cho a:nth-child(3) {
  border-radius: 0 10px 10px 0;
}
